# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Google Maps Configuration
GOOGLE_MAPS_PLATFORM_KEY=

# Gemini Configuration
GEMINI_API_KEY=

# Resend Configuration (for sending emails)
RESEND_API_KEY=
RESEND_FROM_EMAIL=
